<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/morris.js/0.5.1/morris.css">
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.0/jquery.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/raphael/2.1.0/raphael-min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/morris.js/0.5.1/morris.min.js"></script>
    <title>
        Dashboard Cliente
    </title>
    <%- include ('layouts/headStyles.ejs') %>
</head>

<body>
    <%- include ('layouts/preloader.ejs') %>
        <div id="main-wrapper">
            <%- include('layouts/logo.ejs') %>
                <%- include('layouts/header.ejs') %>
                    <%- include('layouts/menu-lateral.ejs') %>
                        <!-- Body -->
                        <div class="content-body">
                            <div class="container-fluid mt-3">
                                <div class="row">
                                    <div class="col-lg-7">
                                        <div class="card">
                                            <div class="col-lg-7  ">
                                                <h2 class=" text-dark mt-3">Bienvenida,</h2>
                                                <h3 class=" text-dark mt-3"><%= nombre %></h3>
                                            </div>
                                             
                                            <div class="card-footer border-0 bg-transparent">
                                                <div class="row">
                                                    <div class="col-5 border-right-1 pt-3">
                                                            <h4 class="">Tu cédula:</h4>
                                                            <p id='id_mio' class=""><%= datos.id%></p>
                                                    </div>
                                                    <div class="col-5 pt-3">
                                                            <h4 class="">Tu correo:</h4>
                                                            <p class=""><%= datos.email %></p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                     </div>
                                <div class="col-lg-5 ">
                                    <div class="card pt-3">
                                        <div class="card-body">
                                            <h3 class="card-title text-dark">Tu subscripción termina el:</h3>
                                            <div class="d-inline-block">
                                                <h2 class="text-dark"><%= membresiaCliente.fecha_fin %></h2>
                                                <p class="pt-3">Recuerda pagar a tiempo</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="container-fluid">
                                <div class="row">
                                    <div class="col-lg-4 ">
                                        <div class="card gradient-2">
                                            <div class="card-body">
                                                <h3 class="card-title text-white">Peso</h3>
                                                <div class="d-inline-block">
                                                    <h2 class="text-white"><%= lastProgreso.peso %>kg</h2>
                                                </div>
                                                <span class="float-right display-5 opacity-5"><i class="fa fa-child"></i></span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-4 ">
                                        <div class="card gradient-2">
                                            <div class="card-body">
                                                <h3 class="card-title text-white">Altura</h3>
                                                <div class="d-inline-block">
                                                    <h2 class="text-white"><%= lastProgreso.altura %>m</h2>
                                                </div>
                                                <span class="float-right display-5 opacity-5"><i class="fa fa-hand-o-up"></i></span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-4 ">
                                        <div class="card gradient-2">
                                            <div class="card-body">
                                                <h3 class="card-title text-white">IMC</h3>
                                                <div class="d-inline-block">
                                                    <h2 class="text-white"><%= lastProgreso.imc %></h2>
                                                </div>
                                                <span class="float-right display-5 opacity-5"><i class="fa fa-heart"></i></span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-12">
                                <div class="card">
                                    <div class="card-body">
                                        <h2 class="text">Qué rutina te toca hoy?</h2>
                                        <div class="container-fluid">
                                            <div class="row">
                                                <div class="col-lg-2 ">
                                                    <div class="card <%= colores[0]%>">
                                                        <div class="card-body">
                                                            <h3 class="card-title text-white">Lunes</h3>
                                                            <div class="d-inline-block">
                                                                <a href="/cliente-rutina" class="btndash border-0 text-white"><%= rutinasCliente2[0] %></a>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-lg-2 ">
                                                    <div class="card <%= colores[1] %>">
                                                        <div class="card-body">
                                                            <h3 class="card-title text-white">Martes</h3>
                                                            <div class="d-inline-block">
                                                                <a href="/cliente-rutina" class="btndash border-0 text-white"><%= rutinasCliente2[1] %></a>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-lg-2 ">
                                                    <div class="card <%= colores[2] %> ">
                                                        <div class="card-body">
                                                            <h3 class="card-title text-white">Miércoles</h3>
                                                            <div class="d-inline-block">
                                                                <a href="/cliente-rutina" class="btndash border-0 text-white"><%= rutinasCliente2[2] %></a>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-lg-2 ">
                                                    <div class="card <%= colores[3] %>">
                                                        <div class="card-body">
                                                            <h3 class="card-title text-white">Jueves</h3>
                                                            <div class="d-inline-block">
                                                                <a href="/cliente-rutina" class="btndash border-0 text-white"><%= rutinasCliente2[3] %></a>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-lg-2 ">
                                                    <div class="card <%= colores[4] %>">
                                                        <div class="card-body">
                                                            <h3 class="card-title text-white">Viernes</h3>
                                                            <div class="d-inline-block">
                                                                <a href="/cliente-rutina" class="btndash border-0 text-white"><%= rutinasCliente2[4] %></a>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-lg-2 ">
                                                    <div class="card <%= colores[5] %>">
                                                        <div class="card-body">
                                                            <h3 class="card-title text-white">Sábado</h3>
                                                            <div class="d-inline-block">
                                                                <a href="/cliente-rutina" class="btndash border-0 text-white"><%= rutinasCliente2[5] %></a>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-12">
                                <div class="card ">
                                    <div class="card-body">
                                        <h2 class="text-black">Tu Progreso</h2>
                                        <div class"barritas" id="barras" style="height: 250px;"></div>
                                          </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- EndBody />-->
                        <%- include('layouts/footer.ejs') %>
        </div>
        
        <%- include('layouts/scripts.ejs') %>
            <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
            <script src="js/dashboard.js"></script>

        
</body>

</html>